.banner {
  background-position: center;
  height: 512px;
  width: 100%;
  background-size: cover;
  z-index: -10;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 160px;
    padding-bottom: 160px;
    height: 572px;
  }

  @media screen and (min-width: 992px) {
    padding-top: 202px;
    height: 602px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 220px;
    padding-bottom: 160px;
    height: 612px;
  }

  @media screen and (max-width: 640px) {
    .category-icon-card .icon {
      margin-left: -0px;
    }
  }

}

::ng-deep .category-icon-card {
  margin-bottom: 25px;
}

.banner h1 {
  width: 100%;
  margin: 52px 0 24px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 0;
    text-align: left;
    font-size: 48px;
    margin-bottom: 62px;
  }
}

.banner h2 {
  margin: 42px 42px 0 42px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

  @media (min-width: 500px) {
    margin: 42px 82px 0 82px;
  }

  @media (min-width: 768px) {
    margin-top: 72px;
    font-size: 24px;
  }
}

.heading-column {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// ^ end of banner

.fit-cover {
  object-fit: cover;
}

.caret {
  margin-left: 20px;
}

.col-margin-auto {
  @media (max-width: 1365px) {
    margin: auto;
  }
}

::ng-deep .search-overlay-closed {
  @media (min-width: 1366px) {
    margin-top: -616px;
  }

  @media (min-width: 768px) and (max-width: 1365px) {
    margin-top: -616px;
  }

  @media (max-width: 767px) {
    margin-top: -690px;
  }
}




.padding-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.help-search {
  margin-top: -600px;
}

.help-spacer-96 {
  margin-top: 96px;
}

.help-spacer-68 {
  margin-top: 68px;
}

.font-heading-28 {
  line-height: 1.2 !important;
}

.dashboard-content {
  margin-top: -24px;
  background-color: white;
  border-radius: 16px 16px 0px 0px;

  padding: 0 16px;

  @media (min-width: 1366px) {
    padding: 0 24px;
  }
}
.placeholderText {
  position: absolute;
}
.dashboard-categories {
  margin-top: -42px;
}
::ng-deep .icon {
  @media screen and (max-width: 640px) {
    margin-left: 0px;
  }
}

::ng-deep .category-icon-card .title {
  text-align: center;
}
.btn-show {
  padding-left: 15px;
  cursor: pointer;
}

.btn-show-text {
  color: #202020;
  font-family: 'Work Sans';
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 32px;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

// progress spinner
.spinner-progress {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;

  .spinner {
    display: block;
    border: 4px solid #f8c000;
    border-bottom-color: transparent;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    animation: spinner-rotate 0.75s linear infinite;
  }
}
// Spinner animation
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
