
<div *ngIf="dashboardData$ | async as data;  else spinner" @fadeAnimation>

  <div class="banner" [style.background-image]="'url(' + data.top_hero.image + ')'">
      <div class="container h-100">
          <div class="row position-relative">
              <div class="col-12">
                  <div class="heading-column">
                      <h1 class="font-brighter-bold">Terms & Conditions</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Dashboard categories -->
  <div class="dashboard-content">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="dashboard-categories">
                      <div class="row">
                          <ng-container *ngFor="let category of data.terms; index as i; trackBy: topicName">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngIf="i < maxTopics || isExpanded">
                                  <a [routerLink]="['../category', category.slug]">
                                      <category-card [cardData]="dataTest">
                                      </category-card>
                                  </a>
                              </div>
                          </ng-container>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- <div class="row" *ngIf="showExpandButton">
      <div class="col d-flex justify-content-center mt-5">
          <div (click)="isExpanded = !isExpanded">
              <mtn-icon class="btn-show" *ngIf="isExpanded" name="collaps"></mtn-icon>
              <mtn-icon class="btn-show" *ngIf="!isExpanded" name="expand"></mtn-icon>
              <p class="btn-show-text" *ngIf="!isExpanded">show all</p>
              <p class="btn-show-text" *ngIf="isExpanded">show less</p>
          </div>
      </div>
  </div> -->


</div>
<!-- Loading spinner -->
<ng-template #spinner>
  <div class="col" @fadeAnimation>
      <div class="spinner-progress">
          <div class="spinner"></div>
      </div>
  </div>
</ng-template>